/*------ Color Guide ----
Black: #050F0E = rgb (5,15,14)
Grey: #868978 = rgb (134,137,120)
Red: #891F28 = rgb (137,31,40)
Blue: #637C92 = rgb (99,124,146)
White: #EEEEEE

---------*/

/*Global Styles*/
body {
    overflow-x: hidden;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #EEEEEE;
    font-size: 18px;
    font-family: 'Philosopher', Garamond, 'Gill Sans', Serif;
 }
.jumbotron {
    background-image: url(../images/landing_img.jpg);
    background-size: cover;
    color: #EEEEEE; 
    text-align: center;
}
h1 h2 h3 {
    font-family: 'Special Elite', 'Gill Sans', Garamond;
}
h1 {
    font-size: 2em;
    line-height: 1.1667em;
    margin-top: 0.5833em;
    margin-bottom: 0.0em;
}
h2 {
    font-size: 1.5556em;
    line-height: 1.5000em;
    margin-top: 0.7500em;
    margin-bottom: 0.0em;
}
h3 {
    font-size: 1.2222em;
    line-height: 1.9091em;
    margin-top: 0.9545em;
    margin-bottom: 0,0em;
}
p {
    font-size: 1.0em;
    line-height: 1.1667em;
    margin-top: 1.1667em;
    margin-bottom: 0.0em;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #050F0E;    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #868978;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #637C92;
    background: rgba(134,137,120,0.2);
}
.sidebar-nav li a:active {
    text-decoration: none;
    color: #891F28
}
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 225px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #868978;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #637C92;
    background: rgba(134,137,120,0.2);
}
.sidebar-nav > .sidebar-brand a:active {
    text-decoration: none;
    color: #891F28;
}
.sidebar-brand img {
    display: block;
    margin: auto;
    padding: 10px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*Img styles*/
#marinetti img {
    width: 200px;
    height: 250px;
}
#balla img{
    width: 140px;
    height: 250px;
}
#boccioni img {
    width: 205px;
    height: 250px;
}
#santelia img {
    width: 165px;
    height: 250px;
}

/*Footer styles*/
footer {
    background: #050F0E;
    color: #868978;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 10px;
}
footer p {
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 2px;
}
footer a {
    text-decoration: none;
    color: #868978;
}
footer a:hover {
    text-decoration: none;
    color: #637C92;
    background: rgba(134,137,120,0.2);
}
footer a:active {
    text-decoration: none;
    color: #891F28
}